* {
    font-family: sans-serif;
}

.container {
    width: 575px;
    height: 825px;
    background-color: #797978;
    padding-left: 50px;
    padding-top: 30px;
}

h1 {
    padding-left: 15px;
    padding-top: 25px;
}

#height,
#weight {
    width: 150px;
    height: 25px;
    margin-top: 25px;
}

button {
    width: 150px;
    height: 35px;
    margin-left: 85px;
    margin-top: 25px;
    background-color: #fff;
    padding: 1px 30px;
    border: 2px solid #212121;
    border-radius: 8px;
    color: #212121;
    text-decoration: none;
    font-size: 17px;
}


#weight-guide {
    margin-left: 75px;
    margin-top: 45px;
}

#results {
    font-size: 35px;
    margin-left: 90px;
    margin-top: 20px;
    color: rgb(241, 241, 241);
}